@page "/ViewPosts"
@using global::Shared
@using HttpClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr


<div class="card overflow-auto">
        <div>
            <h3 class="text-white">Posts</h3></div>
        @foreach (string title in titles)
        {
            <div class="card-title d-flex justify-content-between">
                <label>@title</label>
                <button class="btn btn-info btn-sm" @onmousedown="() => selectedTitle = title" @onclick="ReadPost">Read</button>
            </div>
        }
        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <label style="color: @color">@resultMsg</label>
        }
    </div>
    @code {
    private List<string> titles;
    private string selectedTitle;
    private string resultMsg;
    private string color = "red";

    protected override async Task OnInitializedAsync()
    {
        resultMsg = "";
        try
        {
            titles = new List<string>();
            ICollection<string> retrievedTitles = await postService.GetTitlesAsync();
            titles.AddRange(retrievedTitles);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
        }
    }

    private void ReadPost()
    {
        try
        {
            if (!string.IsNullOrEmpty(selectedTitle))
            {
                resultMsg = selectedTitle;
                navMgr.NavigateTo($"/ViewFullPost/{selectedTitle}");
            }
            else
            {
                resultMsg = "You have to select a title first.";
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
        }
    }

}